/*COLORES*/
.bg-white{
	background: white;
}

.bg-primary{
	background: #F8AF2C !important;
}

/*COLORES TEXTO*/
.c-black{
	color: #565F63 !important;
}
.c-white{
	color: white
}
.c-indianred{
	color: #CD5C5C;
}

.text-shadow{
	text-shadow: 2px 2px 1px black;
}
/*TAMAÑOS FUENTES*/

.font-icon{
	font-size: 1.2rem;
}

/*PADDIND*/

.p-05{
	padding: .5em;
}

/*OTROS*/

.circle{
	width: 20px; 
	height: 20px; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	border-radius: 50%; 
	background: #CD5C5C; 
	margin-left: -5px
}

.uk-nav li a{
	font-size: 1rem;
}

.tachado{
	text-decoration:line-through;
}
.title-head{
		font-size: 2rem;
	}
	.subtitle-head{
		font-size: 1.5rem;
	}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle{
	min-height: 50px;
	color: #565F63;
}

.margin-xsmall-right{
	margin-right: .2em;
}